/**
* Implentation of the "One True Layout" by positioneverything.net
* see http://www.positioniseverything.net/articles/onetruelayout/
* and http://www.positioniseverything.net/articles/onetruelayout/appendix/holygrail
* for details
*/

#main-wrapper {
  float: left;
  width: 100%;
}

#main	{
  margin: 0;
}

.withleft #main {
  margin-left: 190px;
}

.withright #main {
  margin-right: 190px;
}

#sidebar-left	{
  float: left;
  margin-left: -100%;
  width: 174px;
  padding: 5px 8px 20px 8px;
}
#sidebar-right	{
  float: right;
  margin-left: -100%;
  width: 174px;
  padding: 5px 8px 20px 8px;
}

#sidebar-right {
  .margin-left: -190px; /* IE7 Fix */
}

* html #sidebar-right {
  margin-left: -190px; /* IE6 Fix*/
}

#footer	{
  clear: both;
}
div.contextual-links-wrapper {
  display: none;
  right: 75px;
}
